<!DOCTYPE html>
<html>
<head>
    <title>JavaScript</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="src/img/favicon.png">

    <script src="src-core/js/utils.js"></script>
    <!-- Own JavaScript -->
    <script src="pages/build-module2.js"></script>
</head>
<body>

    <div id="container">
        <div id="menu">
            <div id="top">
                <a href="#links" class="link">
                    <div class="img"></div>
					<span v-html="'<b>Модуль 2</b>: JavaScript'"></span>
                </a>
            </div>

            <slot v-for="(itemTitle, numTitle) in themesContent">
                <h4 v-html="themesEmoji+' '+(numTitle+1)+' '+itemTitle.title"></h4>
                <ol>
                    <li v-for="(itemTheme, i) in itemTitle.themes">
                        <a
                            class="menu-link"
                            :id="itemTheme[0]+'link'"
                            :href="'#'+itemTheme[0]"
                            @click="buildContent(itemTheme[0])"
                            v-html="itemTheme[1]"
                        ></a>
                    </li>
                </ol>
            </slot>
        </div>

        <div id="wrapper">
            <div id="links">
                <ul>
                    <li v-for="itemLink in linksContent">
                        <a :href="itemLink.href" v-html="'⚡️ '+itemLink.title"></a>
                    </li>
                </ul>
            </div>
            <div id="content"></div>
        </div>
    </div>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="src-core/css/basic.css">
    <link rel="stylesheet" type="text/css" href="src/css/index.css">

	<!-- Libraries -->
	<script src="src-core/libs/highlight/highlight.pack.js"></script>
	<script src="src-core/libs/vue.js"></script>

	<!-- Custom Elements -->
	<script src="src-core/components-web/custom-elements.js"></script>
	<link rel="stylesheet" type="text/css" href="src-core/components-web/custom-elements.css">

	<!-- Vue.js Components -->
	<script src="src-core/components-vue/vue-components.js"></script>
	<link rel="stylesheet" type="text/css" href="src-core/components-vue/vue-components.css">

	<!-- JavaScript -->
    <script src="src-core/js/init.js"></script>
    <script src="pages/links.js"></script>
    <script src="src/js/build.js"></script>
</body>
</html>
