
img {
	display: block;
	margin: 20px 0;
	object-fit: contain;
	object-position: center center;
	border-radius: .25rem;
	box-shadow:
		0 16px 24px 2px rgba(33,37,41,.02),
		0 6px 30px 5px rgba(33,37,41,.04),
		0 8px 10px -5px rgba(33,37,41,.1);
}


/***************************************************
GENERAL
/***************************************************/
.site-name::before {
	content '🐼';
	margin-right: 10px;
}


/***************************************************
SCROLL
/***************************************************/
/* Firefox */
* {
	scrollbar-color: rgba(7,134,181,.7) rgba(0,0,0,.2);
	scrollbar-width: thin;
}

/* Chrome */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(7,134,181,.7);
    border-radius: 2px;
    transition: .4s;
}
::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-corner {
    background-color: rgba(0,0,0,.7);
}
